.carousel-inner {
  max-height: 400px;
}
.carousel-inner img {
  max-height: 400px;
}

.image-grid {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image-grid img {
  height: 250px;
  margin: 0 2px;
}

.bold{
    color: gold;

}


.gold:hover{
    color: gold !important; 
    border-color: gold !important;
}

.btn:hover {
  color: gold;
}